@charset "UTF-8";

/* Import ET Book styles
 adapted from https://github.com/edwardtufte/et-book/blob/gh-pages/et-book.css */

@font-face {
  font-family: "et-book";
  src: url("/fonts/et-book-roman-line-figures.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "et-book";
  src: url("/fonts/et-book-display-italic-old-style-figures.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: optional;
}

@font-face {
  font-family: "et-book";
  src: url("/fonts/et-book-bold-line-figures.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "et-book-roman-old-style";
  src: url("/fonts/et-book-roman-old-style-figures.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

/* Tufte CSS styles */
html {
  font-size: 15px;
}

body {
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12.5%;
  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  max-width: 1400px;
  counter-reset: sidenote-counter;
}

h1 {
  font-weight: 400;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  font-size: 3.2rem;
  line-height: 1;
}

h2 {
  font-style: italic;
  font-weight: 400;
  margin-top: 2.1rem;
  margin-bottom: 1.4rem;
  font-size: 2.2rem;
  line-height: 1;
}

h3 {
  font-style: italic;
  font-weight: 400;
  font-size: 1.7rem;
  margin-top: 2rem;
  margin-bottom: 1.4rem;
  line-height: 1;
}

hr {
  display: block;
  height: 1px;
  width: 55%;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

p.subtitle {
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  display: block;
  line-height: 1;
}

.numeral {
  font-family: et-book-roman-old-style;
}

.danger {
  color: red;
}

article {
  padding: 5rem 0rem;
}

section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

p,
dl,
ol,
ul {
  font-size: 1.4rem;
  line-height: 2rem;
}

p {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline;
}

/* Chapter Epigraphs */
div.epigraph {
  margin: 5em 0;
}

div.epigraph > blockquote {
  margin-top: 3em;
  margin-bottom: 3em;
}

div.epigraph > blockquote,
div.epigraph > blockquote > p {
  font-style: italic;
}

div.epigraph > blockquote > footer {
  font-style: normal;
}

div.epigraph > blockquote > footer > cite {
  font-style: italic;
}
/* end chapter epigraphs styles */

blockquote {
  font-size: 1.4rem;
}

blockquote p {
  width: 55%;
  margin-right: 40px;
}

blockquote footer {
  width: 55%;
  font-size: 1.1rem;
  text-align: right;
}

section > p,
section > footer,
section > table {
  width: 55%;
}

/* 50 + 5 == 55, to be the same width as paragraph */
section > dl,
section > ol,
section > ul {
  width: 50%;
  -webkit-padding-start: 5%;
}

dt:not(:first-child),
li:not(:first-child) {
  margin-top: 0.25rem;
}

figure {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  max-width: 55%;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0 0 3em 0;
}

figcaption {
  float: right;
  clear: right;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.6;
  vertical-align: baseline;
  position: relative;
  max-width: 40%;
}

figure.fullwidth figcaption {
  margin-right: 24%;
}

a:link,
a:visited {
  color: inherit;
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.05em;
}

/* Sidenotes, margin notes, figures, captions */
img {
  max-width: 100%;
}

.sidenote,
.marginnote {
  float: right;
  clear: right;
  margin-right: -60%;
  width: 50%;
  margin-top: 0.3rem;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.3;
  vertical-align: baseline;
  position: relative;
}

.sidenote-number {
  counter-increment: sidenote-counter;
}

.sidenote-number:after,
.sidenote:before {
  font-family: et-book-roman-old-style;
  position: relative;
  vertical-align: baseline;
}

.sidenote-number:after {
  content: counter(sidenote-counter);
  font-size: 1rem;
  top: -0.5rem;
  left: 0.1rem;
}

.sidenote:before {
  content: counter(sidenote-counter) " ";
  font-size: 1rem;
  top: -0.5rem;
}

blockquote .sidenote,
blockquote .marginnote {
  margin-right: -82%;
  min-width: 59%;
  text-align: left;
}

div.fullwidth,
table.fullwidth {
  width: 100%;
}

div.table-wrapper {
  overflow-x: auto;
  font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif;
}

.sans {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  letter-spacing: .03em;
}

code, pre > code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1.0rem;
  line-height: 1.42;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. See https://github.com/edwardtufte/tufte-css/issues/81#issuecomment-261953409 */
}

/* inline code */
code:not(pre > *) {
  color: #1E66F5;
  background-color: #EFF1F5;
  padding-inline: 6px;
  padding-block: 2px;
  border-radius: 3px;
}

.sans > code {
  font-size: 1.2rem;
}

h1 > code,
h2 > code,
h3 > code {
  font-size: 0.80em;
}

.marginnote > code,
.sidenote > code {
  font-size: 1rem;
}

pre > code {
  font-size: 0.9rem;
  width: 52.5%;
  margin-left: 2.5%;
  overflow-x: auto;
  display: block;
}

pre.fullwidth > code {
  width: 90%;
}

.fullwidth {
  max-width: 90%;
  clear:both;
}

span.newthought {
  font-variant: small-caps;
  font-size: 1.2em;
}

input.margin-toggle {
  display: none;
}

label.sidenote-number {
  display: inline-block;
  max-height: 2rem; /* should be less than or equal to paragraph line-height */
}

label.margin-toggle:not(.sidenote-number) {
  display: none;
}

.iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 760px) {
  body {
    width: 84%;
    padding-left: 8%;
    padding-right: 8%;
  }

  hr,
  section > p,
  section > footer,
  section > table {
    width: 100%;
  }

  pre > code {
    width: 97%;
  }

  section > dl,
  section > ol,
  section > ul {
    width: 90%;
  }

  figure {
    max-width: 90%;
  }

  figcaption,
  figure.fullwidth figcaption {
    margin-right: 0%;
    max-width: none;
  }

  blockquote {
    padding-left: 1.5em;
    padding-right: 0em;
  }

  blockquote p,
  blockquote footer {
    width: 100%;
  }

  label.margin-toggle:not(.sidenote-number) {
    display: inline;
  }

  .sidenote,
  .marginnote {
    display: none;
  }

  .margin-toggle:checked + .sidenote,
  .margin-toggle:checked + .marginnote {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    vertical-align: baseline;
    position: relative;
  }

  label {
    cursor: pointer;
  }

  div.table-wrapper,
  table {
    width: 85%;
  }

  img {
    width: 100%;
  }
}

/* New tags */
label,
input {
  -webkit-tap-highlight-color: transparent;
}

details {
  width: 55%;

  @media (max-width: 760px) {
    width: 100%;
  }

  summary {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    h3 {
      display: inline-block;
      margin-left: 8px;
      margin-top: calc(2rem - 3px);
      margin-bottom: 10px;
      transform: translateY(3px);
    }
  }

  blockquote p {
    width: 100%;
  }

  pre.astro-code {
    width: 100%;
  }
}

/* Dark and light theme */
body {
  background-color: #fffff8;
  color: #111;

  transition:
    background-color 300ms ease-in-out,
    color 300ms ease-in-out;

  h1#site-title,
  h3#post-nav {
    &:is(h1) { margin-top: 0; }
    &:is(h3) { margin: 0; }

    &:has(label) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding-right: 12.5%;

      @media (max-width: 760px) {
        padding-right: 0;
      }
    }

    label#theme-toggle {
      all: unset;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;

      .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
      }

      svg#theme-icon {
        height: 28px;

        fill: #111;

        /* From the excellent post by Josh W. Comeau
         https://www.joshwcomeau.com/animation/linear-timing-function */
        transition: transform 1300ms linear(0 0%, 0.001 0.2%, 0.009 0.5%, 0.022 0.8%, 0.04 1.1%, 0.091 1.7%, 0.172 2.4%, 0.347 3.6%, 0.876 6.8%, 1.003 7.7%, 1.111 8.6%, 1.197 9.5%, 1.253 10.3%, 1.275 10.7%, 1.295 11.2%, 1.307 11.6%, 1.315 12.1%, 1.317 12.4%, 1.317 12.7%, 1.315 13%, 1.31 13.4%, 1.293 14.1%, 1.269 14.8%, 1.21 16.1%, 1.037 19.4%, 0.993 20.4%, 0.96 21.3%, 0.936 22.1%, 0.919 22.9%, 0.907 23.7%, 0.9 24.6%, 0.899 25.2%, 0.901 25.9%, 0.906 26.6%, 0.914 27.3%, 0.932 28.6%, 0.989 32%, 1.012 33.8%, 1.025 35.4%, 1.032 37.1%, 1.032 38.2%, 1.029 39.4%, 0.998 45.8%, 0.992 47.7%, 0.99 49.6%, 0.991 52%, 1.001 58.3%, 1.003 62%, 0.999 74.2%, 1 100%);

        input:checked + & {
          transform: rotate(-10deg);
        }
      }
    }
  }

  blockquote {
    margin-inline: 0;
    padding-inline: 40px;
    border-left: 2px solid #1E66F5;
  }

  &.dark {
    background-color: #151515;
    color: #ddd;

    h1#site-title,
    h3#post-nav {
      label#theme-toggle {
        svg#theme-icon {
          fill: #ddd;
        }
      }
    }

  blockquote {
      border-color: #89B4FA;
  }

    code:not(pre > *) {
      color: #89B4FA;
      background-color: #1E1E2E;
    }

    .astro-code,
    .astro-code span {
      color: var(--shiki-dark) !important;
      background-color: var(--shiki-dark-bg) !important;
      font-style: var(--shiki-dark-font-style) !important;
      font-weight: var(--shiki-dark-font-weight) !important;
      text-decoration: var(--shiki-dark-text-decoration) !important;
    }
  }
}

/* markdown syntax highlighting */
.astro-code {
  padding-block: 15px;
  padding-left: 15px;
  border-radius: 4px;

  width: 55%;

  @media (max-width: 760px) {
    width: 100%;
  }

  code {
    width: 100%;
    margin: 0;
  }
}
