---
import { getCollection } from 'astro:content'
import BaseLayout from '../layouts/BaseLayout.astro'
import ThemeToggle from '../components/ThemeToggle.astro'

const allPosts = await getCollection('blog')
---
<BaseLayout pageTitle="maxmntl" description="Contribution over consumption and other wacky ideas">
  <h1 id="site-title">
    <span>max<span>imilien</span> m<span>o</span>nt<span>ei</span>l</span>

    <ThemeToggle />
  </h1>

  <p class="subtitle">Contribution over consumption and other wacky ideas</p>

  <nav id="nav">
    <ul>
      <li><a href="/rss.xml">RSS</a></li>
    </ul>
  </nav>

  <section id="intro">
    <p>Hello hello, and welcome to my site!</p>
    <p>My name is Max, I have a jumbled mess of thoughts and ideas so I write to clarify but especially to remember.</p>
  </section>

  <section id="posts">
    <h2>Posts</h2>

    <ul>
      {allPosts
        .toSorted((a, b) => +b.data.pubDate - +a.data.pubDate)
        .map(post => (
          <li>
            <span>{post.data.pubDate.toISOString().slice(0, 10)}</span>
          <a href={`/blog/${post.id}`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>

<style>
#site-title {
  span {
    opacity: 0.7;
  }
}

#nav {
  opacity: 0.5;

  ul {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0;
    margin-bottom: 0;

    list-style: none;
    font-size: 1.1rem;

    li {
      margin: 0;
    }
  }
}

#posts {
  h2 {
    margin-top: 0;
  }

  ul {
    display: flex;
    flex-direction: column;
    padding-left: 16px;

    li {
      display: inline-flex;
      gap: 16px;
      align-items: flex-start;

      span {
        white-space: nowrap;
        opacity: 0.5;
        font-size: 1.3rem;
      }
    }
  }
}
</style>
