---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>maxmntl</title>
	</head>
	<body>
		<h1>Max <span>M</span>o<span>nt</span>ei<span>l</span></h1>
	</body>
</html>
