---
import MoonSun from '../assets/moon-sun.svg';
---
<label id="theme-toggle">
  <input type="checkbox" class="sr-only" id="theme-input" />
  <MoonSun id="theme-icon" title="A sun icon with a crescent moon cutout inside."/>
</label>

<script is:inline>
  const theme = (() => {
    const localStorageTheme = localStorage?.getItem('theme')
    if (['dark', 'light'].includes(localStorageTheme))
      return localStorageTheme

    return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
  })()

  document.body.classList[theme === 'light' ? 'remove' : 'add']('dark')

  window.localStorage.setItem('theme', theme)

  document.getElementById('theme-toggle')?.addEventListener('change', () =>
    localStorage.setItem('theme', document.body.classList.toggle('dark') ? 'dark' : 'light'),
  )
</script>
