---
import '../styles/global.css'

const { pageTitle, description } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link rel="preload" href="/fonts/et-book-roman-line-figures.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/et-book-display-italic-old-style-figures.woff2" as="font" type="font/woff2" crossorigin />

    <link
      rel="alternate"
      type="application/rss+xml"
      title="Your Site's Title"
      href={new URL("rss.xml", Astro.site)}
    />

    <!-- Privacy-friendly analytics by Plausible -->
    <script is:inline async src="/info/js/script.js"></script>
    <script>
      window.plausible=window.plausible||function(){(plausible.q=plausible.q||[]).push(arguments)},plausible.init=plausible.init||function(i){plausible.o=i||{}};
      plausible.init({ endpoint: '/info/api/event' })
    </script>

    <title>{pageTitle}</title>
	</head>
	<body>
    <article role="main">
      <slot />
    </article>
	</body>
</html>
