---
import BaseLayout from './BaseLayout.astro'
import ThemeToggle from '../components/ThemeToggle.astro'

const { frontmatter } = Astro.props
---
<BaseLayout pageTitle={frontmatter.title} description={frontmatter.description}>
  <h3 id="post-nav">
    <a href="/" style="opacity: 0.7;">maxmntl</a>

    <ThemeToggle />
  </h3>

  <slot />
</BaseLayout>

